<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/codemirror.css">
	<script src="public/scripts/codemirror.js"></script>
	<script src="public/scripts/matchbrackets.js"></script>
	<script src="public/scripts/clike.js"></script>
	<script src="http://d3js.org/d3.v3.js"></script>
	<script src="/public/scripts/index.js"></script>
	<script src="/public/scripts/jquery.js"></script>
	<link rel="stylesheet" href="css/index.css" type="text/css" />
	
	
	<title>Welcome!</title>
</head>

<body>
	<h1>Tupleware Visualization</h1>
	<textarea id="code" rows="4" cols="50"></textarea>
	<script>
		var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
	        lineNumbers: true,
	        matchBrackets: true,
	        mode: "text/x-c++src"
	     });	
	</script>
	<input id="LR" value="Visualize" type="button" />
	<div id="canvas"></div>
	<span id="test"></span>
	
	<!-- TupleWare Upload form --> 
	<h1>TupleWare File Uploader</h1>
	<form id="uploadForm" enctype="multipart/form-data">
	Location Of the Server: 
	<input type="text" name="location" /><br />
	Destination:
	<input type="text" name="destination" /><br />
	File:
	<input type="file" name="upload" multiple="multiple"><br>
	Pem
	<input type="file" name="pem" multiple="multiple"><br>
	<input type="submit" />
    </form>
	
	<span id="uploadmsg"></span>
	
</body>


</html>