<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/codemirror.css">
	<script src="public/scripts/codemirror.js"></script>
	<script src="public/scripts/matchbrackets.js"></script>
	<script src="public/scripts/clike.js"></script>
	<script src="http://d3js.org/d3.v3.js"></script>
	<script src="/public/scripts/index.js"></script>
	<script src="/public/scripts/jquery.js"></script>
	<link rel="stylesheet" href="css/index.css" type="text/css" />
	
	
	<title>Welcome!</title>
</head>

<body>
	<h1>Tupleware Visualization</h1>
	<textarea id="code" rows="4" cols="50"></textarea>
	<script>
		var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
	        lineNumbers: true,
	        matchBrackets: true,
	        mode: "text/x-c++src"
	     });	
	</script>
	<input id="LR" value="Line Plot" type="button" />
	<div id="canvas"></div>
	<span id="test"></span>
	
</body>


</html>